body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-style{
  text-decoration: none;
  margin-left: 15px;
  text-align: center;
  
  
}
.wallet-img{
  margin-left: 20px;
  margin-right: 20px;
}

/* .toast-container{
  display: flex;
  justify-content: center;
  background-color: ;
  
} */

.toast{
  position: fixed;
  right: 10px;
  top:10px;
  
  
}

.Success{
  background-color: #d1e7dd;
  color: #0f5132;
}

.Danger{
  background-color: #f8d7da;
  color: #842029;
}

/* .sticky-head{
  position:sticky;
  top: 0px;
  
} */

